[Unit]
Description=Go proxy server
After=network.target

[Service]
PIDFile=/run/microproxy.pid
ExecStartPre=/usr/bin/rm -f /run/microproxy.pid
User=nobody
ExecStartPre={{ microproxy.binary_path }} --config {{ microproxy.config_dir }}/config.toml -t
ExecStart={{ microproxy.binary_path }} --config {{ microproxy.config_dir }}/config.toml
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
